#background {
  margin: 0px;
  background-image: url("../images/background.svg");
  max-height: 100vh;
  background-size: cover;
  margin-right: 100px;
}
.landing-container {
  height: 100%;
}
.row {
  height: 100%;
}
.card-body {
  flex: 1 1 auto;
  padding: 18rem 0rem 0rem 0rem;
  align-items: center;
}
.card-title {
  margin-bottom: 0.5 rem;
}
.card-text {
  margin-top: 0;
  margin-bottom: 1 rem;
  color: black;
  align-items: center;
}
.GoSomeWhere {
  border-radius: 30%;
  background-color: #5cc795;
  width: 25em;
  height: 4em;
  text-align: center;
}
.btn-default {
  width: auto;
  margin-left: 10px;

  color: white;
  line-height: 15px;
  border: 2px solid #4ebc89;

  background: #4ebc89;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px; /* change width */
  height: 30px; /* change height */
  margin-right: 10px;
  margin-left: 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgb(87, 87, 87);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 100%;
}
